<footer class="class="main-footer"">
        <div class="container float-right d-none d-sm-inline">
          <p><strong>Licence</strong> : <a href="https://africasamurai.com/" class="text)success">AFRICA SAMURAI CONSULTING</a></p>
      </div>
    </footer>
