<div class="field">
  <%= render 'form' %>
  <hr>
    <small>Before adding a startup please read the terms of reference. adding a startup on the platform
    means that you have read and accepted the terms and conditions</small>
    <%= link_to 'LEAGLS TERMS', termes_path, class:"text-success" %>
</div>
