<div class="field">
  <%= render 'form' %>
  <hr>
    <small>Avant d'ajouter une startup veuillez lire les termes de références. l'ajout d'une startup sur la plateforme
    signifie que vous avez lu et accepté les conditions</small>
    <%= link_to 'LEAGLS TERMS', termes_path %>
</div>
