@import "bootstrap/scss/bootstrap";

.flash{
  position: absolute;
    top: 0px;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: auto;
  background: #B1EADA;
}

.container{
  padding-top: 75px;
  padding-bottom: 75px;
}
