@import "bootstrap/scss/bootstrap";

.flash{
  position: fixed;
    bottom: 0px;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 50px;
  color: black;
}

.container{
  padding-top: 75px;
  padding-bottom: 75px;
}
#startup_resume {
  height: 150px;
}
