<div class="container">
<h2> MENTIONS LEGALES - </h2>
  <h3>A propos de nous</h3>
  <hr>
  <p>
    Bishop est une plateforme de réseautage pour les auto entrepreneurs africains.
    C'est une plateforme sous licence, qui appartient à la société <a href="https://africasamurai.com">AFRICA SAMURAI</a> qui s'est
    spécialisée depuis des années dans la mise en relation, le réseautage et l'accompagne d'entrepreneur.
    Nous ciblons particulièrement les jeunes, avec pour seule philosophie : <em> Grandir ensemble !</em>
    Nous sommes enregistrée au régistre du commerce Béninois sous le numero  <strong>RCCM: 12 00200210558 RB</strong>
  </p>
  <hr>
  <h3> Notre mission </h3>
  <p>
    Nous travaillons activement depuis 5 ans à l'autonomisation des jeunes Africain dans leur ensemble,
    en particulier pour ce qui présente des qualités de leadership et d'entrepreneuriat. Dans ce cadre,
    nous mobilisons tous les moyens nécessaires pour la stimulation de l'esprit créatif, la transmission des connaissance,
    le transfert de technologie et le soutient financier.
  </p>
  <hr>

  <h1>LES MENTIONS LEGALES – AFRICA CONNECTE </h1>
     <h5> Nos coordonnées </h5>
     <p>
       Vous pouvez nous contacter à tout moment aux coordonnées suivants:
       <ul>
         <li> Email : birotori@gmail.com</li>
         <li> Téléphone : 00229 67153974 </li>
         <li> Adresse postale : 03 BP 6232</li>
       </ul>
       Nous vous répondrons dans les meilleurs délais. <strong> Tout abus est interdites </strong>
     </p>
     <hr>
  <h1> POLITIQUE DE CONFIDENTIALITE</h1>
    <div>
      <em> Octobre 2020 </em>
      <ol>
        <li>
          La protection de vos données personnelles est l’une de nos priorités. Sur notre application web,
          nous appliquons la présente politique de confidentialité (« Politique de Confidentialité »).
          Celle-ci nous permet de vous informer de l’utilisation et de la protection de vos données.
          Dans le cadre de la Politique de Confidentialité, l’expression « Donnée(s) Personnelle(s) » ou
          « Données » désigne toute information vous identifiant directement ou indirectement,
          notamment à partir du terminal que vous utilisez, c’est-à-dire de votre ordinateur, tablette,
          smartphone.
          En utilisant notre Site, vous reconnaissez avoir pris connaissance de notre Politique de
          Confidentialité. En cas de modification des conditions de traitement de vos données, nous
          mettrons à jour notre Politique de Confidentialité et vous en serez informés lors de votre
          prochaine visite sur le Site.<br>
          <small><strong> la responsabilité du traitement de vos informations et le Délégué à la Protection des Données
          est localisé à AfricaSamurai 40 rue Roger Chauviré 49100 Angers. Il le fait dans les conditions
          décrites au sein de la présente
          politique.  </strong></small>
        </li>
        <li>
          <strong>Les Données que nous collectons et à quel moment ? </strong><br>

          Lorsque vous utilisez notre Site et nos services, nous sommes susceptibles de collecter les
          Données suivantes vous concernant :
          - nom, prénom, civilité ;
          - adresse(s) postale(s) ;
          - informations nécessaires pour la livraison (étage, code d’accès etc.) ;
          - date de naissance ;
          - adresse email;
          - numéro de téléphone
          - mot de passe ;
          - historique de commandes (par exemple, montants d’achat, nombres et références de produits
          commandés) et autres données relatives au suivi de la relation commerciale ;
          - correspondances et/ou échanges téléphoniques avec notre service client ;
          - numéros de transactions ;
          - informations de localisation au moment de la connexion et de la confirmation de commande
          - numéros de carte bancaire qui sont collectés et traités par l’intermédiaire de nos prestataires
          en charge de la gestion des paiements, (la banque...)
          Ces données sont collectées (i) lorsque vous les renseignez dans des formulaires dédiés sur
          notre Site (lors que vous créez votre compte ou le complétez ou lorsque vous renseignez
          certains champs par exemple à l’occasion d’un jeu concours), (ii) lorsque vous passez
          commande sur notre Site, (iii) lors de vos échanges avec notre service client et (iv) plus
          généralement lors de votre connexion et votre navigation sur notre Site, via des cookies et
          traceurs (cf. pour le détail de notre politique en matière de cookies ci-après à l’article 10).
          Si vous vous connectez à notre Site via l’authentification Facebook, nous aurons également
          accès à vos informations de profil public, et, suivant les choix que vous avez opérés via
          Facebook, à l’adresse électronique que vous avez renseignée sur Facebook.

        </li>
        <li>
          <strong> A quelles fins et sur quelles bases légales vos Données sont-elles utilisées ?</strong><br>
          Sur la base du contrat qui nous lie et/ou notre intérêt légitime, vos Données sont traitées pour
          les finalités suivantes :<br>
          - permettre l’accès à notre site et son utilisation ;<br>
          - assurer la gestion de vos commandes et la livraison des produits commandés sur notre Site ;<br>
          - permettre la fourniture des services auxquels vous avez souscrits sur notre Site et
          particulièrement recevoir nos newsletters vous informant sur les nouveaux produits ;<br>
          - élaborer des statistiques et segmentations, des études et des analyses afin d’améliorer nos
          services et la connaissance de nos clients ;<br>
          - gérer la relation et la satisfaction client ;<br>
          - gérer les demandes liées à l’exercice de vos droits ;<br>
          - gérer les transactions et lutter contre la fraude (ex : mise en œuvre de mesures de sécurité
          s’agissant notamment de lutte contre la fraude à la carte bancaire).<br>

          Sur la base de votre consentement, vos données sont également traitées pour les finalités
          suivantes :<br>
          - recevoir des offres personnalisées et exclusives ainsi que des enquêtes, fonction de votre
          profil et de votre navigation (par exemple : offres de bienvenues, offres d’anniversaires,
          exclusivités sur mesure, enquêtes de satisfaction) ;<br>
          - recevoir nos bons plans ;<br>
          - réaliser des analyses et mesures afin d’améliorer l’intérêt et l’ergonomie de notre Site ;<br>
          - profiter d’une expérience de navigation personnalisée ; bénéficier d’un service de publicité
          personnalisée, pour notre compte ou celui de nos partenaires, sur notre Site ou des supports
          tiers, en fonction de votre profil et de votre navigation ;<br>
          - profiter de nos offres commerciales et publicitaires personnalisées ainsi que celles de nos
          partenaires, sur notre Site ou des supports tiers, en fonction de votre géolocalisation ;<br>
          - recevoir des communications de nos partenaires ;<br>
          - partager des informations sur les réseaux sociaux.<br>
        </li>
        <li>
          <strong>Destinataires de vos Données Personnelles</strong><br>
          Les destinataires de vos Données Personnelles sont les suivants :<br>
          • Nos prestataires, qui nous assistent pour vous fournir nos services en prenant en charge, sous
          notre contrôle, tout ou partie des opérations de traitement de vos Données qui sont :<br>
          - Notre prestataire d’hébergement, dont nous avons besoin pour stocker l’ensemble de vos
          Données ;<br>
          - Nos prestataires en charge d’assurer la gestion et la sécurité des paiements que vous
          effectuez sur notre Site ;<br>
          - Nos prestataires auxquels nous confions les services de stockage, de préparation, de
          livraison de nos produits et de gestion des retours de ces produits ;<br>
          - Nos prestataires en charge de la relation client ;<br>
          - Nos prestataires en charge de réaliser des analyses et segmentations, des études marketing et
          commerciales.et des campagnes publicitaires personnalisées ;<br>
          • Nous y sommes tenus en vertu de la loi, d’une demande impérative provenant d’une autorité
          publique ou dans le cadre d’une procédure judiciaire ;<br>
          • Nous cédons ou transférons tout ou partie de notre entreprise ou de nos actifs, par exemple
          dans le cadre d’une fusion ou d’une vente. Les opérations de cette nature peuvent
          légitimement impliquer la réalisation d’audits préalables par des professionnels et moyennant
          la mise en place de garanties et de mesures de sécurités appropriées afin d’assurer le respect
          de la confidentialité des données auxquelles ils accèdent. En cas de réalisation effective d’une
          opération de transmission ou de cession de nos actifs contenant vos Données, nous mettrons
          en œuvre des procédures d’information permettant de garantir l’exercice des droits dont vous
          disposez sur vos Données.<br>

        </li>

        <li>
          <strong> Transfert de vos Données hors de votre </strong> <br>
          Des données à caractère personnel vous concernant sont susceptibles d’être transmises à des
          destinataires situés dans des pays hors de l’Union Européenne, présentant un niveau de
          protection différent de celui de l’Union Européenne.
          Dans cette hypothèse, nous exigeons contractuellement de ces destinataires qu’ils mettent en
          œuvre les mesures requises pour assurer le même niveau de protection que celui exigé par la
          règlementation européenne en matière de données personnelles.<br>
        </li>
        <li>
          <strong> Quels sont vos droits et comment les exercer ?</strong><br>

           Conformément à la réglementation applicable en matière de données personnelles, vous
          pouvez exercer les droits suivants auprès de <a href="africasamurai.com"></a>. :<br>
          - Accéder à vos Données, en demander la rectification, la suppression ou la portabilité ;
          - Demander la suppression de votre compte et de vos Données ;<br>
          - Retirer votre consentement pour l’avenir, pour tout ou partie des traitements concernés ;<br>
          - Vous opposer au traitement de vos Données ou en demander la limitation ;<br>
          Vous pouvez exercer vos demandes d’accès et de suppression ou exercer l’ensemble de vos
          droits en nous adressant un mail à birotori@gmail.com ou par courrier à l’adresse
          suivante Africa samurai 40 rue Roger Chauviré 49100 Angers en précisant :<br>
          - Vos nom, prénom, adresse email ;<br>
          - L’objet de votre demande ;<br>
          - L’adresse à laquelle doit vous parvenir la réponse ; <br>
          Nous pourrons également vous demander de nous fournir un justificatif d’identité.
          Nous vous répondrons dans un délai maximum de 1 mois à compter de la réception par nos
          services de votre demande.
          En cas de non réponse ou de réponse qui vous semblerait insatisfaisante, vous disposez
          également du droit d’introduire une réclamation auprès d’une autorité de contrôle.
          <br>
        </li>

        <li>

            <strong>Sécurisation et confidentialité des paiements </strong><br>
            Dans l'avenir nous mettrons en place des moyens de paiments pour contribuer à des stratup directement
            à traver la plateforme.
            <br>
            Pour tous éventuel service de paiement,
            nous attachons une grande importance à ce que vos achats se passent dans les meilleures
            conditions de sécurité possible. A ce titre, vos transactions sont confidentielles, cryptées et
            protégées grâce au protocole SSL (Secure Sockets Layer). Lors du paiement de votre
            commande par carte bancaire, la transaction se fait entre vous et notre banque reconnus pour
            Leur fiabilité en matière de transactions sur Internet.<br>
            Nous faisons appel à plusieurs mécanismes dans le cadre de la lutte contre la fraude :<br>
            - Lorsque vous cliquez sur le bouton « Valider » lors du passage de votre commande, notre
            banque vérifie la validité du numéro de carte bancaire et s’assure qu’elle n’est pas en
            opposition ;<br>
            - Nous utilisons également un programme appelé « 3D Secure » ayant pour but de lutter
            contre la fraude. Au moment du paiement en ligne, vous pouvez ainsi être amené à vous
            identifier avant de finaliser la transaction (via une redirection sur le site de votre banque, via
            la réception d’un SMS ou via des questions personnelles type date de naissance, code
            postal...) ; <br>
            - Enfin, nous avons mis en place un traitement automatisé de lutte contre la fraude à la carte
            bancaire. Ainsi, nous pouvons effectuer des contrôles ayant pour but de s’assurer de la réalité
            de votre identité et domiciliation. Dans ce cadre, nous pourrons procéder à des vérifications
            portant sur les informations que vous nous fournissez (telles que : nom, prénom, adresse
            email, adresse de livraison etc.) ainsi que sur l’adresse IP utilisée, sur un historique de vos
            commandes et transactions, sur les caractéristiques de la commande concernée et enfin sur la
            carte bancaire utilisée (type, pays d’émission et numéros partiels communiqués par les
            établissements bancaires et de paiement, composés uniquement des quatre premiers chiffres et
            des deux derniers, ainsi que de sa date d’expiration). Le cas échéant, nous pouvons vous
            demander de nous transmettre par email une copie recto de votre pièce d’identité ainsi qu’un
            justificatif de domicile de moins de trois (3) mois. Ces documents ne sont pas conservés au-
            delà de la durée nécessaire aux vérifications et ne sont pas transmis à des tiers. Nous nous
            réservons le droit de procéder à l’annulation de la commande concernée et au blocage du
            compte. En cas de non réception des justificatifs demandés dans le délai imparti, nous
            annulerons la commande mais ne bloquerons pas votre compte. Vous serez informé de ce qui
            précède par email.
            <br>
            Vous devrez à chaque paiement renseigner vos coordonnées bancaires dans les champs
            prévus à cet effet lors de la passation de votre commande.
            <br>
        </li>
        <li>
          <strong> Réseaux sociaux</strong><br>
          Vous pouvez vous inscrire par facebook, ou google. Quand vous vous connectez à notre site via votre compte Facebook. Comme indiqué ci-
          dessus, nous aurons alors accès à vos informations de profil public, et, suivant les choix que

          vous avez opérés via Facebook, à l’adresse électronique que vous avez renseignée sur
          Facebook. Toutefois, nous ne publierons jamais quoique ce soit sur votre profil Facebook ;
          - Quand vous choisissez de partager des information sur vos sociaux via les boutons dédiés
          à cet effet.
          Chacun des réseaux sociaux dispose de sa propre politique de confidentialité et de ses
          dispositions relatives au traitement des Données Personnelles, que nous vous invitons à
          consulter.
          <br>
        </li>
        <li>
          <strong> Politique de gestion des cookies </strong><br>
          Le terme « Cookie(s) » désigne un fichier déposé et lu lors de la consultation d’un site
          internet, ou de la lecture d’un courrier électronique, de l’installation ou de l’utilisation d’un
          logiciel ou encore d’une application mobile, et ce quel que soit le type de Terminal utilisé.
          Les Cookies mis en place sur le Site sont de plusieurs types et répondent à des finalités
          différentes, et notamment :
          - utiliser les services de notre site et mémoriser les informations renseignées sur notre Site
          (par exemple, accès à votre compte ou contenu de panier) ;
          - établir des mesures et statistiques d’audience et nous permettre notamment d’améliorer
          l’intérêt et l’ergonomie de notre site ;
          - adapter la navigation sur notre Site en fonction de votre profil ;
          - vous adresser des offres et publicités, directement ou sur des sites tiers, personnalisées en
          adéquation avec vos centres d’intérêts et/ou votre localisation ;
          - vous permettre de choisir de partager des informations sur les réseaux sociaux.
          Conformément à la règlementation, Africa connecte recueille votre consentement au dépôt
          des cookies pour les mesures d’audience, les offres de publicité personnalisée et le partage
          vers les réseaux sociaux. Ce recueil de consentement est réalisé tous les 12 mois, en
          adéquation avec la durée de vie recommandée des cookies.
          Vous pouvez à tout moment paramétrer vos souhaits en matière de cookies (i) sur votre
          navigateur ou (ii) directement sur l’outil développé par Africa connecte.

        </li>
      </ol>

    </div>

</div>
